# Dependencies
node_modules/
package-lock.json
yarn.lock

# Database
*.sqlite
*.db

# Environment variables
.env
.env.local

# Build outputs
build/
dist/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# React
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Backend
backend/database.sqlite

